logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

.vscode/
.vscode-server/
.vscode-server/*
.idea/
.idea/*
**/.idea/*
*.iml
*.iws
out/

.firebase/
.firebaserc

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage/
.nyc_output/

.grunt

bower_components/

.lock-wscript

build/Release/

node_modules/
.npm/

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env
.env.local
.env.development
.env.test
.env.production

.firebase/
.firebasehostingcache/
